# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
example
matrix_unit

# Mac Cache files
*.DS_STORE

# MATLAB files (too large for github)
*.mat
